{% extends "../base.html" %}
{% load static %}
{% block title %}Shopping Cart - eShop{% endblock %}
{% block content %}

    <main class="pt-5">
        <div id="shopping-cart-container" class="container">
            <h1 class="h5">Shopping basket</h1>
            {% for item in basket %}
                {% with product=item.product %}
                    <div data-index="{{ product.id }}" class="row mb-4 border product-item">
                        <div class="col-md-3 col-lg-2 order-md-first bg-light">
                            <img class="img-fluid mx-auto d-block" width="120px" alt="Responsive image"
                                 src="{{ product.image.url }}">
                        </div>
                        <div class="col-md-9 col-lg-10 ps-md-3 ps-lg-10">
                            <a href="{{ product.get_absolute_url }}" class="text-decoration-none text-reset">
                                <h1 class="h5 pt-2 mb-3">{{ product.title }}</h1>
                            </a>
                            <div class="border">
                                <div class="col">
                                    <div class="row p-3">
                                        <div class="col-4">
                                            <div class="form-floating">
                                                <select id="select{{ product.id }}" class="form-select">
                                                    <option selected>
                                                        {{ item.qty }}
                                                    </option>
                                                    <option value="1">1</option>
                                                    <option value="2">2</option>
                                                    <option value="3">3</option>
                                                    <option value="4">4</option>
                                                </select>
                                                <label for="select">Quantity</label>
                                            </div>
                                        </div>
                                        <div class="col-8 text-end"><span
                                                class="h6 fw-bold"
                                                id="total-price{{ product.id }}">${{ item.total_price }}</span></div>
                                    </div>
                                    <div class="row p-3">
                                        <div class="col-5">
                                            <button type="button" id="update-button" data-index="{{ product.id }}"
                                                    class="btn btn-outline-primary btn-md update-button">
                                                Update
                                            </button>
                                            <button type="button" id="delete-button" data-index="{{ product.id }}"
                                                    class="btn btn-outline-danger btn-md delete-button">
                                                Delete
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endwith %}
            {% endfor %}
            <div class="h6 fw-bold text-end">Sub Total: $
                <div id="subtotal" class="d-inline-flex">{{ basket.get_total_price }}</div>
            </div>
        </div>
    </main>

    <div class="container" id="empty-shopping-cart-container">
        <div class="jumbotron jumbotron-fluid">
            <h1 class="display-4">Empty Shopping Cart!</h1>
            <p class="lead">If the ride is more fly, then you must buy.</p>
            <hr class="my-4">
            <p>Let's go back to retail therapy! ❤️</p>
            <p class="lead">
                <a class="btn btn-primary btn-lg" href="/" role="button">Browse Products</a>
            </p>
        </div>
    </div>

    <script>
        let shopping_cart_container = $("#shopping-cart-container")
        let empty_cart_container = $("#empty-shopping-cart-container")
        {% if basket|length == 0 %}
            shopping_cart_container.hide()
            empty_cart_container.show()
        {% else %}
            empty_cart_container.hide()
            shopping_cart_container.show()
        {% endif %}
        // Delete Item
        $(document).on('click', '.delete-button', function (e) {
            e.preventDefault();
            let prodid = $(this).data('index');
            $.ajax({
                type: 'POST',
                url: '{% url "basket:basket_delete" %}',
                data: {
                    productid: $(this).data('index'),
                    csrfmiddlewaretoken: "{{csrf_token}}",
                    action: 'post'
                },
                success: function (json) {
                    $('.product-item[data-index="' + prodid + '"]').remove();
                    if (json.qty === 0) {
                        shopping_cart_container.hide()
                        empty_cart_container.show()
                    } else {
                        empty_cart_container.hide()
                        shopping_cart_container.show()
                    }
                    $("#basket-qty").html(json.qty)
                    $("#subtotal").html(json.subtotal)

                },
                error: function (xhr, errmsg, err) {
                }
            });
        })

        // Update Item
        $(document).on('click', '.update-button', function (e) {
            e.preventDefault();
            let prodid = $(this).data('index');
            $.ajax({
                type: 'POST',
                url: '{% url "basket:basket_update" %}',
                data: {
                    productid: $(this).data('index'),
                    productqty: $('#select' + prodid + ' option:selected').text(),
                    csrfmiddlewaretoken: "{{csrf_token}}",
                    action: 'post'
                },
                success: function (json) {
                    if (json.qty === 0) {
                        shopping_cart_container.hide()
                        empty_cart_container.show()
                    } else {
                        empty_cart_container.hide()
                        shopping_cart_container.show()
                    }
                    $("#total-price" + prodid).html("$" + json.updatedItemTotal)
                    $("#basket-qty").html(json.qty)
                    $("#subtotal").html(json.subtotal)
                },
                error: function (xhr, errmsg, err) {
                }
            });
        })
    </script>

{% endblock %}